body{
    background-color: #141624;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
        /* Header Section Ends Here */
header{
    display: flex;
    color: white;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    height: 58.539px;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 2em;
    top: 0; /* Updated */
    left: 0; /* Updated */
    z-index: 100; /* Updated */
    /* background: rgba(33, 54, 33, 0.333); */
}
    /* Updated */
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.logo > img{
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    margin: 0;
    border-radius: 50%;
    position: absolute;
    left: 12em;
    top: 1.5em;
}
.navbar-text {
    font-size: 21.952px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 0;
    position: absolute;
    left: 10.5em;
}
.navbar-text > .span-text {
    font-weight: lighter;
}
.navbar {
    justify-content: flex-end;
    position: absolute;
    right: 30em;
}
.navbar > a { 
    text-decoration: none;
    margin: 0 17px;
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
    line-height: normal;
    transition: 0.3s ease-in-out;
}
.navbar > a:hover {
    color: var(--Secondary, #F9995D);
}
.nav-search{
    position: relative;
}
.nav-search > .icon {
    position: absolute;
    right: 34%;
    top: 30%;
    color: #A1A1AA;
}
.nav-search > input{
    width: 13em;
    margin: 0 10rem;
    height: 2rem;
    background-color: #242535;
    color: white;
    border-radius: 5%;
    border: 1px solid var(--Natural-100, #242535);
}
.nav-search > ::placeholder{
    color: #A1A1AA;
    padding-left: 1em;
    font-size: 1.3em;
}

/* Style for the on/off switch container */
/* .onoff-switch {
    display: flex;
    align-items: center;
}
.onoff-switch input {
    display: none;
}

.onoff-switch label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.onoff-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
}

.onoff-switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
} */

/* .onoff-switch input:checked+.slider {
    background-color: #2196F3;
}

.onoff-switch input:checked+.slider:before {
    transform: translateX(26px);
}

.onoff-switch .fas {
    color: white;
    margin: 4px;
} */

        /* Header Section Ends Here */

.container-fluid {
    background-image: url(./assests/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 70%;
    height: 70vh;
    border-radius: 0.8em;
    position: relative;
    left: 13em;
    margin-bottom: 7em;
}
.container-elem{
    background-color: #141624;
    width: 29.4em;
    height: 17em;
    color: #fff;
    position: absolute;
    bottom: -3.5em;
    left: 3em;
    z-index: 1.5;
    border: 1px solid var(--Natural-100, #242535);
    border-radius: 0.9em;
}
.container-elem-title{
    background-color: #4B6BFB;
    width: fit-content;
    padding: 0.4em 1em;
    border-radius: 0.3em;
    margin: 2em 0 0 2em;
    position: relative;
}
.container-elem-txt{
    font-weight: bolder;
    font-size: 1.9em;
    line-height: 1em;
    margin-left: 1.3em;
    margin-top: 0.7em;
}
.person-tag{
    display: flex;
    bottom: -2em;
    left: 5em;
    position: absolute;
    align-items: center;
}
.person-tag > img{
    width: 5%;
    border-radius: 100%;
}
.person-tag > p{
    color: #fff;
    margin: 0.8em;
}

/* Content Section styling Starts Here */
.content {
    height: 250vh;
    position: relative;
    background-color: #141624;
    margin-bottom: 3em;
}
.content > .content-box {
    background-color: #242535;
    width: 40%;
    position: absolute;
    left: 25em;
    text-align: center;
    color: #696A75;
    border-radius: 0.9em;
    height: 5em;
    padding-top: 0.5em;
}
.content-box > p {
    margin: 0.4em;
}
.content-box > .box-p {
    font-weight: bold;
}
.content > .card-container {
    position: absolute;
    top: 12em;
    left: 1em;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 70vh;
    padding-top: 0;
    gap: 0.8rem;
    margin-bottom: 20em;
    padding-bottom: 53px;
}
.content-card {
    background-color: #141624;
    color: #fff;
    height: 30em;
    border-radius: 0.9em;
    width: calc(33% - 5em);
    flex-shrink: 0;
    border: 1px solid var(--Neutral-100, #242535);
}
.card-container > .card-header {
    position: absolute;
    top: -2.5em;
    left: 4.8em;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}
.content > .card-container > .content-card >.card-img {
    width: 330px;
    height: 250px;
    margin: 0.9em;
    margin-left: 0.9em;
    border-radius: 0.5em;
}
.content > .card-container > .content-card > .card-text1 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-left: 1.5em;
    margin-top: 0.7em;
}
.content > .card-container >.content-card > .card-reason1 {
    background-color: #4B6BFB0D;
    width: fit-content;
    border-radius: 0.3em;
    padding: 0.4em 1em;
    margin-top: 0.5em;
    margin-left: 1.7em;
    color: #4B6BFB;
}
.content > .card-container > .content-card > .person-tag1 > img {
    width: 4%;
    border-radius: 100%;
    margin-top: 1em;
    margin-left: 1.7em;
}
.content > .card-container > .content-card > .person-tag1 > .tester-1 {
    width: 5%;
    border-radius: 100%;
}
.content>.card-container>.content-card>.person-tag1> .tester-2{
    width: 9%;
    border-radius: 100%;
}
.content > .card-container > .content-card > .person-tag1 {
    display: flex;
    position: absolute;
    align-items: center;
}
.content > .card-container > .content-card > .person-tag1 p {
    margin: 0.8em;
    margin-top: 2.2em;
    color: #A1A1AA;
}
.view-post {
    width: 10%;
    position: absolute;
    bottom: -15em;
    left: 47%;
    text-align: center;
    background-color: #141624;
    color: #696A75;
    border-radius: 0.3em;
    border: 1px solid var(--Neutral-100, #242535);
}
.content-box1 {
    background-color: #242535;
    width: 45%;
    position: absolute;
    bottom: -23em;
    left: 25em;
    text-align: center;
    color: #696A75;
    border-radius: 0.9em;
    height: 4.5em;
    padding-top: 0.5em;
}
.content-box1 p {
    margin: 0.3em;
}
.content-box1 .box-p1 {
    font-weight: bold;
}
.footer {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 75vh;
    position: relative;
    bottom: -25em;
    background-color: #181A2A;
    border-top: 1px solid #242535;

}

.footer .footer-abt {
    color: #fff;
    /* width: 15em; */
    height: 19em;
    width: calc(29% - 5em);
    flex-shrink: 0;
}

.footer .footer-abt a {
    display: flex;
    text-decoration: none;
    margin: 15px 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    line-height: normal;
}
.footer .footer-abt .abt {
    position: absolute;
    left: 8em;
    top: 2em;
    width: 20%;
}

.footer .footer-abt .abt h4 {
    font-size: 18px;
}

.footer .footer-abt .abt p {
    color: #97989F;
    font-size: 16px;
}

.footer .footer-abt .abt .ads {
    margin-top: 2.5em;
}
.footer .footer-abt .abt .ads span {
    color: #fff;
}

.footer .footer-abt .links {
    position: absolute;
    left: 35em;
    top: 2em;
}

.footer .footer-abt .links h4 {
    font-size: 18px;
}

.footer .footer-abt .links a {
    color: #97989F;
    font-size: 16px;
}

.footer .footer-abt .cat-abt {
    position: absolute;
    right: 35em;
    top: 2em;
}

.footer .footer-abt .cat-abt h4 {
    font-size: 18px;
}

.footer .footer-abt .cat-abt p {
    color: #97989F;
    font-size: 16px;
}

.footer .botton {
    border-radius: 0.4em;
    border: 1px solid var(--Neutral-100, #242535);
    background: #242535;
    height: 14em;
    width: 18em;
    text-align: center;
    position: absolute;
    right: 6.5em;
    top: 4em;
}

.footer hr {
    background-color: #242535;
    position: absolute;
    bottom: 5.5em;
    width: 83%;
    left: 8em;
    border: none;
    height: 1px;
}

.footer .footer-image {
    position: absolute;
    margin-top: 17em;
    left: -5.2em;
}

.footer .footer-text {
    color: #fff;
    font-style: normal;
    font-size: 19.952px;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    left: 13em;
    top: 1.2em;
}

.footer .footer-logo img {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    float: left;
    border-radius: 50%;
    position: absolute;
    left: 13em;
    top: 1.3em;
}

.footer .footer-at {
    color: #97989F;
    font-style: normal;
    font-size: 15px;
    line-height: normal;
    position: absolute;
    left: 17.3em;
    top: 3.5em;
    width: 25em;
}

.footer .footer-at span {
    color: #fff;
}

.footer .botton h4 {
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 2em;
    margin-bottom: 0.8em;
}

.footer .botton p {
    color: #97989F;
    font-size: 12px;
}

.footer .botton input {
    width: 16em;
    height: 2.9em;
    margin-bottom: 0.5em;
    color: #fff;
    border-radius: 6%;
    border: 1px solid var(--Neutral-100, #242535);
    background: #181A2A;
    margin-top: 1em;
}

.footer .botton button {
    width: 16em;
    height: 2.9em;
    background-color: #4B6BFB;
    border-radius: 6%;
    border: 1px solid var(--Neutral-100, #4B6BFB);
}

.footer .footer-list ul {
    display: flex;
    position: absolute;
    right: 5em;
    top: 24em;
}

.footer .footer-list li {
    margin-right: 1em;
    list-style: none;
    color: #BABABF;
}

.footer .footer-list div {
    border-left: 2px solid #242535;
    height: 18px;
    margin-right: 1em;
}

        /* Media Query Sectoin starts Here */
#check {
    display: none;
}

.icons {
    position: absolute;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    margin-top: 4%;
    margin-right: 5%;
    right: 3%;
}

/* Media Query */
@media (max-width: 480px) {
    .icons {
        display: inline-flex;
        right: 2%;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .icons #close-icon {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #301038;
        transition: .4s ease;
        overflow: hidden;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translate(-50px);
        transition: .4s ease;
    }

    #check:checked~.navbar a {
        transform: translate(0);
        transition-delay: calc(.15s * var(--i));
    }

    .logo > img {
        margin-left: 10%;
    }

    .navbar-text {
        margin-left: 12.5%;
        top: 1.4em;
    }

    .nav-search {
        width: 5em;
        right: 30%;
        display: none;
        overflow: hidden;
    }

    /* .nav-search>input {
        width: 1em;
        margin: 0 10rem; 
        height: 2rem;
        background-color: #242535;
        color: white;
        display: block;
    } */
    .nav-search> ::placeholder {
        font-size: 1em;
    }
    header{
        margin-bottom: 0;
    }
    .container-fluid {
        max-width: 100%;
        left: 0;
        top: 0;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
        /* height: 50vh; */
    }
    .container-elem{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
        max-width: 70%;
        height: 60%;
        left: 0;
        bottom: 0;
        border: none;
    }
    .container-elem-title {
        margin: 0;
        left: 7%;
        /* background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%); */
    }

    .container-elem-txt {
        font-size: 1em;
        line-height: normal;
        font-weight: normal;
    }

    .person-tag {
        max-width: 70%;
        left: 4%;
        bottom: 3%;
    }
    .content-box{
        right: 50%;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}


/* @media (max-width: 1200px){
    .header {
        padding: 1.3rem 5%;
    }
        .nav-search {
        right: 0;
        position: absolute;
}
} */

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .icons #close-icon {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #301038;
        transition: .4s ease;
        overflow: hidden;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translate(-50px);
        transition: .4s ease;
    }

    #check:checked~.navbar a {
        transform: translate(0);
        transition-delay: calc(.15s * var(--i));
    }

    .logo>img {
        left: 1%;
    }

    .navbar-text {
        left: 6%;
        top: 1.4em;
    }

    .nav-search {
        width: 17em;
        right: 30%;
    }

    .nav-search>input {
        width: 16em;
        margin: 0 2rem;
        height: 2rem;
    }
}
/* Media querry Section */
